WebContent/wsdl/bookstoreModel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model" xmlns:intf="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getBYBIDExternal">
    <complexType>
     <sequence>
      <element name="bid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBYBIDExternalResponse">
    <complexType>
     <sequence>
      <element name="getBYBIDExternalReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getBYBIDExternalRequest">

      <wsdl:part element="impl:getBYBIDExternal" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBYBIDExternalResponse">

      <wsdl:part element="impl:getBYBIDExternalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="bookstoreModel">

      <wsdl:operation name="getBYBIDExternal">

         <wsdl:input message="impl:getBYBIDExternalRequest" name="getBYBIDExternalRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBYBIDExternalResponse" name="getBYBIDExternalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="bookstoreModelSoapBinding" type="impl:bookstoreModel">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getBYBIDExternal">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBYBIDExternalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBYBIDExternalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="bookstoreModelService">

      <wsdl:port binding="impl:bookstoreModelSoapBinding" name="bookstoreModel">

         <wsdlsoap:address location="http://localhost:8080/Bookstore/services/bookstoreModel"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
